<!-- BEGIN main -->
<div id="main">
  <h2><%= @page_title = 'Change Your Password' %></h2>

	<% form_for(@user) do |f| %>
	  <%= f.error_messages %>
			<div class="first input">
				<p>New Password:</p>
				<%= f.password_field :password, :class=>"text", :size=>"48" %>
			</div>
			<div class="input">
				<p>Confirm New Password:</p>
				<%= f.password_field :password_confirmation, :class=>"text", :size=>"48" %>
			</div>
			<div class="input">
				<%= f.submit 'Change Password', :class => "button" %>
				<input type="reset" value="Reset" class="button"/>
			</div>
			<% end %>
</div>
<!-- END main -->

<!-- BEGIN sidebar -->
<div id="sidebar"><div class="buffer">
Note: Please enter your new desired login password and then confirm your entry for security purposes.  Please remember your new login password and/or write it down in a safe location for later reference.
</div></div>
<!-- END sidebar -->