<% @page_title = 'Update Your Account Information' %>
<!-- BEGIN main -->
<div id="main">
	<h2>Basic Information</h2>

	<% form_for(@user) do |f| %>
	  <%= f.error_messages %>
			<div class="first input">
				<label>Full Name:</label>
				<%= f.text_field :name, :class => "text", :size => "48" %>
			</div>
			<div class="input">
				<label>Email:</label>
				<%= f.text_field :email, :class => "text", :size => "48" %>
			</div>
			<div class="input">
				<label>Phone Number:</label>
				<%= f.text_field :phone_number, :class => "text", :size => "48" %>
			</div>
			<div class="input buttons">
				<%= f.submit 'Update', :class => "button" %>
				<input type="reset" value="Reset" class="button"/>
			</div>
			<% end %>
			
			<h2>Password</h2>

			<% form_for(@user) do |f| %>
			  <%= f.error_messages %>
					<div class="first input">
						<label>New Password:</label>
						<%= f.password_field :password, :class=>"text", :size=>"48" %>
					</div>
					<div class="input">
						<label>Confirm New Password:</label>
						<%= f.password_field :password_confirmation, :class=>"text", :size=>"48" %>
					</div>
					<div class="input buttons">
						<%= f.submit 'Change Password', :class => "button" %>
						<input type="reset" value="Reset" class="button"/>
					</div>
					<% end %>
		  
</div>
<!-- END main -->

<!-- BEGIN sidebar -->
<div id="sidebar"><div class="buffer">
Note: Please enter your new desired login password and then confirm your entry for security purposes.  Please remember your new login password and/or write it down in a safe location for later reference.
</div></div>
<!-- END sidebar -->