			<!-- BEGIN main -->
<div id="content">
	<table class="page-intro">
		<tbody>
			<tr>
				<td><h2>Sign up</h2></td>
				<td>
					<p>A variety of plans to fit everybody's needs. You can upgrade, downgrade, or cancel any time.</p>
					<p><strong>All accounts include a 30-day Free Trial.</strong></p>
				</td>
			</tr>
		</tbody>
	</table>

<div class="belt">
	<h4>Pay as you go, no long-term contracts, no sign-up fee, no termination fee, cancel at any time.</h4>
	<p>Don't know where to start? Pick any plan — you can upgrade/downgrade at any time. You can't make the wrong choice.</p>	
</div>

<table width="100%" class="signup">
		<tbody>
			<tr>
				<% @plans.reverse_each do |plan|-%>
					<th><%= plan.name -%></th>
				<% end -%>
			</tr>
			<tr>
				<% @plans.reverse_each do |plan|-%>
					<td><h2><%= monthly_price(plan) -%></h2></td>
				<% end -%>
			</tr>
			<tr>
				<% @plans.reverse_each do |plan|-%>
					<td><h3><%= plan.description -%></h3></td>
				<% end -%>
			</tr>
			<tr>
				<tr>
					<% @plans.reverse_each do |plan|-%>
						<td><strong><%= plan.minutes -%></strong> monthly minutes</td>
					<% end -%>
				</tr>
			</tr>
			<tr>
				<tr>
					<% @plans.reverse_each do |plan|-%>
						<td><%= phones(plan) -%></td>
					<% end -%>
				</tr>
			</tr>
			<tr>
				<% @plans.reverse_each do |plan|-%>
					<td>Pinless Dialing</td>
				<% end -%>
			</tr>
			<tr>
				<% @plans.reverse_each do |plan|-%>
					<td>1 Minute Rounding</td>
				<% end -%>
			</tr>
			<tr>
				<% @plans.reverse_each do |plan|-%>
					<td>No Connection/Hidden Fees</td>
				<% end -%>
			</tr>
			<tr>
				<% @plans.reverse_each do |plan|-%>
					<td>30 Day Money Back</td>
				<% end -%>
			</tr>
			<tr>
				<% @plans.reverse_each do |plan|-%>
					<td>
						<%= link_to "<img width='113' height='45' alt='Sign Up' src='images/btn_signupchart_large.png'/>", new_user_path(@user, :plan=> plan) %>
					</td>
				<% end -%>
			</tr>
		</tbody>
</table>
	
</div>
<!-- END content -->